<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/vendor/all.css">
    <script src="https://kit.fontawesome.com/989563f7e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header_container">
        <div class="header_text">
            Decode Blog
        </div>
        <div class="header_search">
            <input type="text" placeholder="Поиск по блогам">
            <a><i class="fa-solid fa-magnifying-glass"></i>найти</a>  
        </div>
        <div class="header_button">
            <a class="header_button1" href="">Регистрация</a>
            <a class="header_button2" href="">Вход</a>
        </div>
    </header> 
</body>
</html>