<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/vendor/all.css">
    <script src="https://kit.fontawesome.com/989563f7e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/header.ejs')  %>
    <div class="entrance-container">
        <div class="entrance-item">
            <h2>Вход</h2>
            <input type="text" placeholder="Введите email">
            <input type="text" placeholder="Введите пароль">
            <a href="" class="button">Войти</a>
        </div>
    </div>
</body>
</html>