<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/vendor/all.css">
    <script src="https://kit.fontawesome.com/989563f7e9.js" crossorigin="anonymous"></script>
    <script defer src="/pages/burger.js"></script>
</head>
<body>
    <%- include('partials/header2.ejs')  %>
    <div class="blog">
        <div class="blog_container1">
            <div class="myblog_container1_mini">
                <h2>Мои блоги</h2>
                <a class="button" href="">Новый блог</a>
            </div>
            <img src="/images/image 1.png" alt="">
            <div class="blog_container1_text">
                <div class="myblog_container1_text">
                    <h3>Обзор Report Manager от Webix</h3>
                    <div class="myblog_burger">
                        <a class="myblog_burger_more" id="myblog_burger" href=""><i class="fa-solid fa-ellipsis-vertical"></i>Еще</a>
                        <div class="myblog_burger_menu">
                            <a>Редоктировать</a>
                            <a class="myblog_burger_menu2">Удалить</a>
                        </div>
                    </div>
                </div>
                <p>Осень 2020 года стала плодотворным временем для специалистов Webix.<p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с <br> двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно <br> говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом <br> виджете Вы можете найти в статье.</p>     
                <p>Ноябрь продолает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом <br> Report Manager. Давайте рассмотрим его подробнее</p>
            </div>
            <div class="blog_container1_statistics">
                <p><i class="fa-regular fa-calendar-days"></i>26.06.2020</p>
                <p><i class="fa-solid fa-eye"></i>21</p>
                <p><i class="fa-solid fa-message"></i>4</p>
                <p><i class="fa-solid fa-comments"></i>Веб-разработка</p>
                <p><i class="fa-solid fa-user"></i>Nast1289</p>
            </div>
            <img src="/images/image 3.png" alt="">
            <div class="blog_container1_text">
                <h3>Разработчики изобрели методологию <br> высокоскоростного программирования</h3>
                <p>Осень 2020 года стала плодотворным временем для специалистов Webix.<p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с <br> двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно <br> говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом <br> виджете Вы можете найти в статье.</p>     
                <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом <br> Report Manager. Давайте рассмотрим ег</p>
            </div>
            <div class="blog_container1_statistics">
                <p><i class="fa-regular fa-calendar-days"></i>26.06.2020</p>
                <p><i class="fa-solid fa-eye"></i>21</p>
                <p><i class="fa-solid fa-message"></i>4</p>
                <p><i class="fa-solid fa-comments"></i>Веб-разработка</p>
                <p><i class="fa-solid fa-user"></i>Nast1289</p>
            </div>
        </div>
        
        <div class="myblog_container2">
            <img src="/images/avatar (1).png" alt="">
            <h2>Елнур Сеитжанов</h2>
            <p class="myblog_container2_p">В основном пишу про веб - <br> разработку, на React & Redux</p>
            <p>285 постов за все время</p>
            <a class="button" href="">Редактировать</a>
        </div>
    </div>
</body>
</html>