<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/vendor/all.css">
</head>
<body>
    <%- include('partials/header.ejs')  %>
    <div class="blog">
        <div class="blog_container1">
            <img class="commentBlog_container1_img" src="/images/image 1.png" alt="">
            <div class="commentBlog_container1_statistics">
                <p>26.06.2020</p>
                <p>21</p>
                <p>4</p>
                <p>Веб-разработка</p>
                <p>Nast1289</p>
            </div>
            <div class="blog_container1_text">
                <div class="myblog_container1_text">
                    <h3>Обзор Report Manager от Webix</h3>
                    <a href="">Еще</a>
                </div>
                <p>Осень 2020 года стала плодотворным временем для специалистов Webix.<p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с <br> двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно <br> говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом <br> виджете Вы можете найти в статье.</p>     
                <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом <br> Report Manager. Давайте рассмотрим его подробнее</p>
            </div>
            <div class="blog_container1_text">
                <div class="myblog_container1_text">
                    <h3>Что такое комплексные виджеты Webix?</h3>
                </div>
                <p>В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты <br> - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.<p>
                <p>Они уже готовы к интеграции в Ваше бизнес-приложение, что позволяет экономить рабочее время <br> программистам. Это визуальное воплощение концепции low-code платформы, которой является <br> Webix. Комплексные виджеты Webix сразу же готовы к работе, потому что они содержат <br> функциональный фронт-энд слой и, при необходимости, снабжены различными опциями для <br> бэк-энда.</p>     
                <p>Гибкая архитектура Webix позволяет легко настраивать эти приложения, расширять их <br> функциональность и интегрировать в существующие решения.</p>
            </div>
            <div class="commentBlog_container1_com">
                <h2>2 комментариея</h2>
                <div class="commentBlog_container1_profile">
                    <img src="/images/avatar.png" alt="">
                    <h3>Елнур Сеитжанов</h3>
                </div>
                <p>В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты <br> - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.</p>
                <div class="commentBlog_container1_line"></div>
                <div class="commentBlog_container1_profile">
                    <img src="/images/avatar.png" alt="">
                    <h3>Елнур Сеитжанов</h3>
                </div>
                <p>В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты <br> - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.</p>
                <p class="myCommentblog_registration">Чтобы оставить комментарий <a href="">зарегистрируйтесь</a>, или <a href="">войдите</a> в аккаунт.</p>
            </div>
        </div>
        
        <div class="blog_container2">
            <h2>Категории</h2>
            <a href="">Прогнозы в IT <br></a>
            <div class="blog_line"></div>
            <a href="">Веб-разработка <br></a>
            <div class="blog_line"></div>
            <a href="">Мобильная разработка <br></a>
            <div class="blog_line"></div>
            <a href="">Фриланс<br></a>
            <div class="blog_line"></div>
            <a href="">Алгоритмы<br></a>
            <div class="blog_line"></div>
            <a href="">Тестирование IT систем<br></a>
            <div class="blog_line"></div>
            <a href="">Разработка игр<br></a>
            <div class="blog_line"></div>
            <a href="">Дизайн и юзабилити<br></a>
            <div class="blog_line"></div>
            <a href="">Искуственный интелект<br></a>
            <div class="blog_line"></div>
            <a href="">Машинное обучение<br></a>
            <div class="blog_line"></div>
        </div>
    </div>
</body>
</html>