<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/vendor/all.css">
    <script src="https://kit.fontawesome.com/989563f7e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/header2.ejs')  %>
    <div class="new-blog-container">
        <div class="new-blog-item">
            <h2>Новый блог</h2>
            <input type="text" placeholder="Введите заголовок блога" class="new-blog-input">
            <input type="text" placeholder="Выберите категорию" class="new-blog-input">
            <a href="" class="new-blog-button">Выберите картинку</a>
            <input type="text" placeholder="Введите описание блога" class="new-blog-input2">
            <a href="" class="button">Создать</a>
        </div>
    </div>
</body>
</html>