.myblog_container2{
    margin-left: 3%;
    padding: 30px 3%;
    background-color: white;
    line-height: 45px;
    height: 480px;
}

.myblog_container2 img{
    width: 170px;
}

.myblog_container2{
    text-align: center;
}

.myblog_container2 h2{
    font-size: 20px;
    font-weight: 600;
}

.myblog_container2_p{
    padding-top: 20px;
    line-height: 20px;
}

.myblog_container2 p{
    padding-bottom: 25px;
}

.myblog_container2 a {
    font-size: 17px;
}

.myblog_container1_mini{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

.myblog_container1_mini h2{
    font-size: 35px;
    font-weight: 600;
}

.myblog_container1_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myblog_container1_text a {
    color: black;
}

.myblog_burger{

}

.myblog_burger_menu a{
    display: block;
}

.myblog_burger_menu{
    position: absolute;
    z-index: 10;
    background-color: white;
    -webkit-box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
    line-height: 30px;
    padding: 5px 10px;
    padding-right: 55px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.myblog_burger_more {
    padding-left: 130px;
    font-size: 18px;
    padding-top: 15px;
}

.myblog_burger_menu2{
    color: red;
}

