header{
    padding: 15px 7%;
    display: flex;
    position: fixed;
    background-color: white;
    width: 90%;

}

.header_text{
    color: #00A2DC;
    font-size: 45px;
    font-weight: 600;
    width: 35%;
    padding: 10px 0%;
}

.header_search{
    display: flex;
    width: 45%;
    padding: 10px 0%;
}

.header_search input{
    width: 350px;
    padding-left: 20px;
}

.header_search a{
    padding: 15px 3%;
    background-color: #00A2DC;
    color: white;
    border-radius: 2px;
}  

.header_button{
    display: flex;
}

.header_button1{
    padding: 15px 20px;
    background-color: #00A2DC;
    color: white;
    margin-right: 20px;
    border-radius: 2px;
    margin-top: 10px;
    height: 20px;
}

.header_button2{
    padding: 15px 40px;
    background-color: #00A2DC;
    color: white;
    border-radius: 2px;
    margin-top: 10px;
    height: 20px;
}

.header_container img {
    padding-left: 10%;
    width: 70px;
}